/* */
/**/

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Шапка сайта */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin: 92px auto 96px auto;
    padding: 0 50px;
    align-items: center;
}

/*Контейнер навигации*/
.header__menu {
    width: max-content;
    height: 22px;
}

/*Список ссылок шапка*/
.header__links-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 13px;
    list-style: none;
    list-style-position: inside;
}
/*Пункт списка шапка*/
.header__links-list-item {
    list-style-type: circle;
}

/*Ссылка в пункте списка*/
.header__link {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 18px;
    cursor: pointer;
    line-height: 24px;
}

/*Ссылка без кружочка*/
.header__links-list-item_no-bullit {
    list-style: none;
    margin-left: 0;
}

/*Выбранная ссылка меню без подчёркивания*/
.header__link_active {
    text-decoration: none;
}

/*Контейнер с логотипом*/
.header__logo {

}

/*Ссылка с логотипом*/
.header__logo-link {
    display: block;
    width: 148px;
    height: 105px;
}

/*Картинка с логотипом*/
.header__logo-image {
    display: block;
    width: 100%;
    height: 100%;
}

/*Контейнер с адресом*/
.address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address_text {
    display: block;
    line-height: 24px;
    font-size: 18px;
}


/*Класс для выравнивания блока в шапке*/
.header__address {
    max-width: 240px;
    justify-self: end;
}

/*Секция c обложкой*/
.cover {
    height: 757px;
    position: relative;
}

/*Картинка обложки*/
.cover__image {
    position: relative;
    height: 100%;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

/*Полупрозрачный блок*/
.cover__overlay {
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 60%;
    z-index: 2;
}

/*Контейнер заголовка*/
.cover__title {
    position: absolute;
    min-height: 100%;
    inset: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Заголовок над оверлеем*/
.cover__title-text {
    font-weight: 700;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    line-height: 115px;
}

/*Для превращения строк заголовка в блочный элемент*/
.aligned-text {
    display: block;
}

/*Класс для выравнивания строк левого текста*/
.aligned-text_left {
    padding-left: 50px;
}

/*Класс для выравнивания строк центрального текста*/
.aligned-text_center {
    text-align: center;
}

/*Класс для выравнивания строк правого текста*/
.aligned-text_right {
    text-align: right;
    padding-right: 50px;
}

/*Класс для для управления межбуквенным расстоянием в местах, где есть эти акценты*/
.letter-spacing-extended {
    letter-spacing: 30px;
}

/*Класс для обнуления общего межбуквенного расстояния у последней буквы*/
.no-letter-spacing {
    margin-right: -30px;
}

/*Контейнер с подзаголовком и кнопкой*/
.cover__description {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

/*Текст подзаголовка*/
.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 20px;
}

/*Кнопка "Сделать ставку"*/
.bet-button {
    background-color: transparent;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    height: 51px;
    width: 256px;
    border: 1px solid #fff;
}

/*Секция с лотами*/
.lots {
    background-color: blue;
}

/*Заголовок*/
.lots__heading {

}

/*Контейнер списка карточек*/
.lots__card-list {

}

/*Пункт маркированного списока*/
.lots__card-list-item {

}

/*Ссылка обрамляющая карточку*/
.card-link {

}

/*Карточка*/
.card {

}

/*Фон карточки Фильм*/
.card_type_film {

}

/*Фон карточки Книга*/
.card_type_book {

}

/*Фон карточки Картина*/
.card_type_picture {

}

/*Заголовок карточки*/
.card__title {

}

/*Текст карточки*/
.card__text {

}

/*Ссылка "посмотреть больше"*/
.lots__look-more-link {

}

/*Секция Об аукционе*/
.about {

}

/*Класс для колонок*/
.about__column {

}

/*Контейнер с логотипом*/
.about__logo {

}

/*Изображение логотипа*/
.about__logo-image {

}

/*Заголовок секции*/
.about__title {

}

/*Блок для параграфов секции*/
.about__text {

}

/*Подвал*/
.footer {
    
}

/*Блок навигации по списку ссылок*/
.footer__menu {

}

/*Список пунктов меню*/
.footer__menu-list {

}

/*Пункт списка меню*/
.footer__menu-list-item {

}

/*Ссылка пункта меню*/
.footer__menu-link {

}

/*Выбранная ссылка меню без подчеркивания*/
.footer__menu-link_active {

}

/*Список ссылок на соц сети*/
.footer__social-list {

}

/*Пункт списка ссылок на соц сети*/
.footer__social-list-item {

}

/*Ссылка на соц сети*/
.footer__social-link {

}

/*Иконка соц сети*/
.footer__social-icon {
    
}