/* */
/**/

/* Шапка сайта */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    width: 1100px;
    height: 293px;
    padding: 0;
    background-color: aqua;
}

/*Контейнер навигации*/
.header__menu {
    width: 391.48px;
    height: 22px;
    margin: 133px 37px 138px 50px;
}

/*Список ссылок шапка*/
.header__links-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 13px;
    padding: 0;
    margin: 0;
    list-style: none;
}
/*Пункт списка шапка*/
.header__links-list-item {
    list-style-type: circle;
    margin-left: 12px;
}

/*Ссылка в пункте списка*/
.header__link {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 16px;
}

/*Ссылка без кружочка*/
.header__links-list-item_no-bullit {
    list-style: none;
    margin-left: 0;
}

/*Выбранная ссылка меню без подчёркивания*/
.header__link_active {
    text-decoration: none;
}

/*Контейнер с логотипом*/
.header__logo {

}

/*Ссылка с логотипом*/
.header__logo-link {
    display: block;
    width: 148px;
    height: 105px;
}

/*Картинка с логотипом*/
.header__logo-image {
    display: block;
    width: 100%;
    height: 100%;
}

/*Контейнер с адресом*/
.address {
    width: 240;
    height: 98;
}

/*Класс для выравнивания блока в шапке*/
.header__address {
    width: 240px;
    height: 98px;
}

/*Секция c оверлеем*/
.cover {
    width: 100%;
}

/*Контейнер полупрозрачного блока поверх секции*/
.overlay {
    width: 1100px;
    height: 757px;
    margin: 0 auto;
    opacity: 60%;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
}

/*Заголовок над оверлеем*/
.cover__title {
    width: 1100px;
    height: 385px;
    margin: 0 auto;
    padding-top: 165px;
    padding-left: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 30%;
    text-transform: uppercase;
}

/*Для превращения строк заголовка в блочный элемент*/
.aligned-text {

}

/*Класс для выравнивания строк левого текста*/
.aligned-text_left {
}

/*Класс для выравнивания строк центрального текста*/
.aligned-text_center {

}

/*Класс для выравнивания строк правого текста*/
.aligned-text_right {

}

/*Класс для для управления межбуквенным расстоянием в местах, где есть эти акценты*/
.letter-spacing-extended {

}

/*Класс для обнуления общего межбуквенного расстояния у последней буквы*/
.no-letter-spacing {

}

/*Контейнер с подзаголовком и кнопкой*/
.cover__description {
    background-color: aquamarine;
}

/*Текст подзаголовка*/
.cover__description-text {

}

/*Кнопка "Сделать ставку"*/
.bet-button {

}

/*Секция с лотами*/
.lots {
    background-color: blue;
}

/*Заголовок*/
.lots__heading {

}

/*Контейнер списка карточек*/
.lots__card-list {

}

/*Пункт маркированного списока*/
.lots__card-list-item {

}

/*Ссылка обрамляющая карточку*/
.card-link {

}

/*Карточка*/
.card {

}

/*Фон карточки Фильм*/
.card_type_film {

}

/*Фон карточки Книга*/
.card_type_book {

}

/*Фон карточки Картина*/
.card_type_picture {

}

/*Заголовок карточки*/
.card__title {

}

/*Текст карточки*/
.card__text {

}

/*Ссылка "посмотреть больше"*/
.lots__look-more-link {

}

/*Секция Об аукционе*/
.about {

}

/*Класс для колонок*/
.about__column {

}

/*Контейнер с логотипом*/
.about__logo {

}

/*Изображение логотипа*/
.about__logo-image {

}

/*Заголовок секции*/
.about__title {

}

/*Блок для параграфов секции*/
.about__text {

}

/*Подвал*/
.footer {
    
}

/*Блок навигации по списку ссылок*/
.footer__menu {

}

/*Список пунктов меню*/
.footer__menu-list {

}

/*Пункт списка меню*/
.footer__menu-list-item {

}

/*Ссылка пункта меню*/
.footer__menu-link {

}

/*Выбранная ссылка меню без подчеркивания*/
.footer__menu-link_active {

}

/*Список ссылок на соц сети*/
.footer__social-list {

}

/*Пункт списка ссылок на соц сети*/
.footer__social-list-item {

}

/*Ссылка на соц сети*/
.footer__social-link {

}

/*Иконка соц сети*/
.footer__social-icon {
    
}