/* */
/**/

/* Шапка сайта */
.header {
    padding: 0;
    margin: 0px 0px 2735px 0px;
}

/*Контейнер навигации*/
.header__menu {
   margin: 133px 658.52px 138px 50px;
}

/*Список ссылок шапка*/
.header__links-list {

}

/*Пункт списка шапка*/
.header__links-list-item {

}

/*Ссылка в пункте списка*/
.header__link {

}

/*Ссылка без кружочка*/
.header__links-list-item_no-bullit {

}

/*Выбранная ссылка меню без подчёркивания*/
.header__link_active {

}

/*Контейнер с логотипом*/
.header__logo {
    margin: 92px 474px 96px 478px;
}

/*Картинка с логотипом*/
.header__logo-image

/*Контейнер с адресом*/
.address {
    margin: 95px 50px 100px 810px;
}

/*Класс для выравнивания блока в шапке*/
.header__address {

}

/**/

/*Секция c оверлеем*/
.cover {
    margin: 165px 50px 207px 50px;
}

/*Контейнер полупрозрачного блока поверх секции*/
.overlay {

}

/*Заголовок над оверлеем*/
.cover__title {

}

/*Для превращения строк заголовка в блочный элемент*/
.aligned-text {

}

/*Класс для выравнивания строк левого текста*/
.aligned-text_left {

}

/*Класс для выравнивания строк центрального текста*/
.aligned-text_center {

}

/*Класс для выравнивания строк правого текста*/
.aligned-text_right {

}

/*Класс для для управления межбуквенным расстоянием в местах, где есть эти акценты*/
.letter-spacing-extended {

}

/*Класс для обнуления общего межбуквенного расстояния у последней буквы*/
.no-letter-spacing {

}

/*Контейнер с подзаголовком и кнопкой*/
.cover__description {
    margin: 656px 50px 50px 50px;
}

/*Текст подзаголовка*/
.cover__description-text {

}

/*Кнопка "Сделать ставку"*/
.bet-button {

}

/*Секция с лотами*/
.lots {
    margin: 1230px 24px 1075px 24px;
}

/*Заголовок*/
.lots__heading {

}

/*Контейнер списка карточек*/
.lots__card-list {

}

/*Пункт маркированного списока*/
.lots__card-list-item {

}

/*Ссылка обрамляющая карточку*/
.card-link {

}

/*Карточка*/
.card {

}

/*Фон карточки Фильм*/
.card_type_film {

}

/*Фон карточки Книга*/
.card_type_book {

}

/*Фон карточки Картина*/
.card_type_picture {

}

/*Заголовок карточки*/
.card__title {

}

/*Текст карточки*/
.card__text {

}

/*Ссылка "посмотреть больше"*/
.lots__look-more-link {

}

/*Секция Об аукционе*/
.about {

}

/*Класс для колонок*/
.about__column {

}

/*Контейнер с логотипом*/
.about__logo {

}

/*Изображение логотипа*/
.about__logo-image {

}

/*Заголовок секции*/
.about__title {

}

/*Блок для параграфов секции*/
.about__text {

}

/*Подвал*/
.footer {

}

/*Блок навигации по списку ссылок*/
.footer__menu {

}

/*Список пунктов меню*/
.footer__menu-list {

}

/*Пункт списка меню*/
.footer__menu-list-item {

}

/*Ссылка пункта меню*/
.footer__menu-link {

}

/*Выбранная ссылка меню без подчеркивания*/
.footer__menu-link_active {

}

/*Список ссылок на соц сети*/
.footer__social-list {

}

/*Пункт списка ссылок на соц сети*/
.footer__social-list-item {

}

/*Ссылка на соц сети*/
.footer__social-link {

}

/*Иконка соц сети*/
.footer__social-icon {
    
}