/* */
/**/

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* HEADER */
/*#region*/
/* Шапка сайта */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin: 92px auto 96px auto;
    padding: 0 50px;
    align-items: center;
}

/*Контейнер навигации*/
.header__menu {
    width: max-content;
    height: 22px;
}

/*Список ссылок шапка*/
.header__links-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 13px;
    list-style: none;
    list-style-position: inside;
}
/*Пункт списка шапка*/
.header__links-list-item {
    list-style-type: circle;
}

/*Ссылка в пункте списка*/
.header__link {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

/*Ссылка без кружочка*/
.header__links-list-item_no-bullit {
    list-style: none;
    margin-left: 0;
}

/*Выбранная ссылка меню без подчёркивания*/
.header__link_active {
    text-decoration: none;
}

/*Ссылка с логотипом*/
.header__logo-link {
    display: block;
    width: 148px;
    height: 105px;
}

/*Картинка с логотипом*/
.header__logo-image {
    display: block;
    width: 100%;
    height: 100%;
}

/*Контейнер с адресом*/
.address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address_text {
    display: block;
    line-height: 24px;
    font-size: 18px;
}


/*Класс для выравнивания блока в шапке*/
.header__address {
    max-width: 240px;
    justify-self: end;
}

/*#endregion*/

/* COVER */
 /*#region*/
/*Секция c обложкой*/
.cover {
    position: relative;
    height: 757px;
}

/*Картинка обложки*/
.cover__image {
    position: relative;
    min-height: 100%;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

/*Полупрозрачный блок*/
.overlay {
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 60%;
    z-index: 1;
    pointer-events: none;
}

/*Контейнер заголовка*/
.cover__title {
    position: absolute;
    min-height: 100%;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Заголовок над оверлеем*/
.cover__title-text {
    font-weight: 700;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    line-height: 115px;
}

/*Для превращения строк заголовка в блочный элемент*/
.aligned-text {
    display: block;
}

/*Класс для выравнивания строк левого текста*/
.aligned-text_left {
    padding-left: 50px;
}

/*Класс для выравнивания строк центрального текста*/
.aligned-text_center {
    text-align: center;
}

/*Класс для выравнивания строк правого текста*/
.aligned-text_right {
    text-align: right;
    padding-right: 50px;
}

/*Класс для для управления межбуквенным расстоянием в местах, где есть эти акценты*/
.letter-spacing-extended {
    letter-spacing: 30px;
}

/*Класс для обнуления общего межбуквенного расстояния у последней буквы*/
.no-letter-spacing {
    margin-right: -15px;
}

/*Контейнер с подзаголовком и кнопкой*/
.cover__description {
    position: absolute;
    padding: 0 50px;
    bottom: 50px;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

/*Текст подзаголовка*/
.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 20px;
}

/*Кнопка "Сделать ставку"*/
.bet-button {
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    height: 51px;
    width: 256px;
    border: 1px solid #fff;
}
/*#endregion*/

/* LOTS */
/*#region*/
/*Секция с лотами*/
.lots {
    position: relative;
    max-width: 1052px;
    margin: 180px auto 0 auto;
}

/*Заголовок*/
.lots__heading {
    padding-left: 75px;
    margin-bottom: 27px;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

/*Контейнер списка карточек*/
.lots__card-list {
    list-style: none;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

/*Пункт маркированного списока*/
.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

/*Ссылка обрамляющая карточку*/
.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

/*Карточка*/
.card {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 38px;
}

/*Фон карточки Фильм*/
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

/*Фон карточки Книга*/
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

/*Фон карточки Картина*/
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);

}

/*Заголовок карточки*/
.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    margin: 0;
    color: #fff;
}

/*Текст карточки*/
.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    margin: 0;
    color: #fff;
}

/*Ссылка "посмотреть больше"*/
.lots__look-more-link {
    display: block;
    margin-left: 65px;
    margin-bottom: 75px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 23px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    cursor: pointer;
}
/*#endregion*/

/* ABOUT */
/*#region*/
/*Секция Об аукционе*/
.about {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 72px;
    padding: 35px 0 0 47px;
    align-items: start;
    max-width: 1052px;
    margin: 120px auto 0 auto;
}

/*Контейнер с логотипом*/
.about__logo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: #000;
}

/*Изображение логотипа*/
.about__logo-image {
    height: 240px;
    width: 240px;
    padding: 50px;
}

.about__text-container {
    padding-top: 98px;
}

/*Заголовок секции*/
.about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

/*Блок для параграфов секции*/
.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
}

.about__text_paragraph {
    font-size: 20px;
    line-height: 24px;
    white-space: pre-line;
}
/*#endregion*/

/* FOOTER */
/*#region*/ 
/*Подвал*/
.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin: 92px auto 96px auto;
    padding: 0 50px;
    align-items: center;
}

.footer__address {
    width: 264px;
}

.footer__link {
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}


/*Блок навигации по списку ссылок*/
.footer__menu {
    width: max-content;
}

/*Список пунктов меню*/
.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

/*Ссылка пункта меню*/
.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

/*Выбранная ссылка меню без подчеркивания*/
.footer__menu-link_active {
    list-style: none;
    margin-left: 0;
    text-decoration: none;
}

/*Список ссылок на соц сети*/
.footer__social-list {
    display: flex;
    max-width: 240px;
    justify-self: end;
    gap: 50px;
}

/*Пункт списка ссылок на соц сети*/
.footer__social-list-item {
    list-style: none;
}

/*Ссылка на соц сети*/
.footer__social-link {
    cursor: pointer;
}

/*Иконка соц сети*/
.footer__social-icon {
    height: 48px;
    width: 48px;
}
/*#endregion*/